---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 130
AlignEscapedNewlines: Left
PointerAlignment: Left
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes    
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
IndentPPDirectives: BeforeHash
RemoveBracesLLVM: true
SortIncludes: Never