Checks: "clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-*,misc-*,cert-*,
-misc-include-cleaner,-misc-use-internal-linkage,-misc-unused-parameters,uefi-*"

WarningsAsErrors: ''
SystemHeaders: false
HeaderFilterRegex: '.*(src|include)/.*'

CheckOptions:
  uefi-trace-function.TargetFiles: ''